# Path to your Tesseract executable (if different from default)
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# Path to the PDF file you want to process
PDF_PATH=path/to/your/pdf/file.pdf

# ConvertAPI Secret (Get from https://www.convertapi.com/a)
CONVERT_API_SECRET=your_convert_api_secret_here
